<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tomasz Litwicki | Python Developer</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/fontello.css">

  <meta name="author" content="Tomasz Litwicki">

  <meta name="description" content="Tomasz Litwicki - Python Developer Portfolio. M.Sc. Structural Engineer | PRINCE2® PM | Professional Horse Trainer - Entrepreneur | Transitioning to Software Development">

  <meta property="og:title" content="Tomasz Litwicki | Python Developer">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://tomaszlitwicki.pythonanywhere.com/">
  <meta property="og:image" content="https://tomaszlitwicki.pythonanywhere.com/img/Screenshot.png">
  <meta property="og:image:alt" content="Tomasz Litwicki - Python Developer Portfolio">
  <meta property="og:description" content="Explore my IT projects, technical skills, and experience in RAG AI and Python development.">

  <link rel="icon" type="image/png" sizes="192x192" href="../static/icon.png">
  <link rel="icon" href="../static/favicon.ico" sizes="any">
  <link rel="apple-touch-icon" href="../static/icon.png">

  <link rel="manifest" href="../static/site.webmanifest">
  <meta name="theme-color" content="#fafafa">

</head>

<body>

  <!-- Add your site or application content here -->
  <header>
    <h1>Tomasz Litwicki</h1>
    <img src="../static/img/1.jpg" alt="Small portrait">
    <h2>M.Sc. Structural Engineer | PRINCE2® PM | Professional Horse Trainer (Entrepreneur) | Transitioning to Software Development</h2>
  </header>
  <main>
    <div id="photocv"><img src="../static/img/3.jpg" alt="Portrait of Tomasz Litwicki"> </div>

    <div id="python"><img src="../static/img/python.png" alt="Personal information shown in Python code style"></div>

    <div id="techstack">
      <div class="skill-group column-stack">
      <div class="skill-header">Technical Skills:</div>
        <div class="skill-group">
          <div class="skill">Python:</div>
          <div class="skill">Flask</div>
          <div class="skill">Jinja2</div>
          <div class="skill">PSL</div>
          <div class="skill">REST/API</div>
          <div class="skill">RAG AI</div>
        </div>
        <div class="skill-group">
          <div class="skill">Databases:</div>
            <div class="skill">MySQL</div>
            <div class="skill">SQLite</div>
        </div>
        <div class="skill-group">
          <div class="skill">Frontend:</div>
            <div class="skill">HTML5</div>
            <div class="skill">CSS3</div>
        </div>
        <div class="skill-group">
          <div class="skill">Other:</div>
            <div class="skill">GIT</div>
            <div class="skill">CLI (Bash)</div>
        </div>
      </div>
      <div class="skill-group">
        <div class="skill-header">Soft Skills:</div>
        <div class="skill">Communication</div>
        <div class="skill">Training Delivery & Facilitation</div>
      </div>
      <div class="skill-group">
        <div class="skill-header">Languages:</div>
        <div class="skill">English Business IT</div>
        <div class="skill">Deutsch B2E TELC</div>
        <div class="skill">Polish Native</div>
      </div>
      <div class="skill-group">
      <div class="skill-header">Other Skills:</div>
        <div class="skill">Black belt in Martial Arts</div>
        <div class="skill">Horsemanship</div>
        <div class="skill">Piano playing</div>
      </div>
    </div>

    <div id="links_row">
      <a href="https://github.com/TomaszLitwicki" class="links" target="_blank" rel="noopener noreferrer" aria-label="GitHub" title="Portfolio in repository on GitHub">
        <i class="icon-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/tomasz-litwicki-8726703b8" class="links"  aria-label="LinkedIn" target="_blank" rel="noopener noreferrer" title="Profile on LinkedIn">
        <i class="icon-linkedin-squared"></i>
      </a>
      <a href="https://www.facebook.com/RanczoRajczyn/" class="links" target="_blank" rel="noopener noreferrer" aria-label="RanczoRajczyn" title="Previous business">
        <i class="icon-facebook-squared"></i>
      </a>
      <a href="https://horseowner.pythonanywhere.com/" class="links" target="_blank" rel="noopener noreferrer" aria-label="HorseOwner" title="Horse Owner - personal IT project">
        <i class="icon-guidedog"></i>
      </a>
    </div>

    <div class="rag" id="writing">
      <form action="/" method="post">
        <textarea id="ask_me" name="ask" placeholder="RAG: Type your question..." maxlength="150"></textarea>
        <div id="button">
          <button type="submit" id="submit_btn">Ask My AI</button>
          <div id="counter">Remaining characters: <span>150</span> </div>
        </div>
      </form>
      <span class="tooltip"><b><u>Funkcjonalność jeszcze w budowie</u></b><br> AI w oparciu o technologię RAG, czyli &quot;Sztuczna Inteligencja&quot; odpowie na Twoje pytanie w oparciu o przygotowaną przeze mnie bazę informacji. Możesz zapytać o moją wiedzę z dziedziny IT, metodykę jej zdobywania, sposób myślenia programistycznego, lub wykonane projekty. Np: 'Z jakich techonologii korzystał Tomasz w swym głównym projekcie?'.</span>
    </div>
    {% if question %}
      <div class="rag" id="question"><u><b>{{ titles[0] }}</b></u>{{ question }}</div>
      <div class="rag" id="sources"><u><b>{{ titles[1] }}</b></u>{{ sources }}</div>
      <div class="rag" id="answer"><u><b>{{ titles[2] }}</b></u>{{ answer }}</div>
    {% endif %}
  </main>
  <footer><h2>Personal Landing Page - Python Developer &copy; 2026</h2></footer>

  <script src="../static/js/app.js"></script>

</body>

</html>
